<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='A.PNG')}}"/>
    <title>Alumil</title>
</head>
<body>
    <img src="{{url_for('static', filename='Capture.PNG')}}" align="middle" />
    <h1>Engine for discovering the best alloy for production</h1>
    <p><i>Empowered by Naive Bayes</i></p>
    <p>This model will determine what alloy you should use to achieve required mechanical properties</p>
    <form class="form" action="{{ url_for('main') }}" method="POST">
        <label class="label"><input class="input" type="number" step="0.01" name="Rm" placeholder="Rm" required></label>
        <label class="label"><input class="input" type="number" step="0.01" name="Rp" placeholder="Rp" required></label>
        <label class="label"><input class="input" type="number" step="0.01" name="A%" placeholder="A%" required></label>
        <label class="label"><input class="input" type="number" step="0.01" name="Wb" placeholder="Wb" required></label>
        <input class="button" type="submit" value="Search">
    </form>
    <div class="result">
        {% if result %}
            {% for variable, value in original_input.items() %}
                <b>{{ variable }}</b> : {{ value }}
            {% endfor %}
            <br>
            <br> <h3>Suggested alloy:</h3>
               <p class="big">{{ result }}</p>
        {% endif %}
    </div>
<script> 
const form = document.querySelector('.form');
const result = document.querySelector('.result');

function showResult(){
    result.style.visibility = 'visible';
}

form.addEventListener('submit', showResult);
</script>
</body>
</html>