body {
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   flex-flow: column wrap;
}
.form {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
   padding: 5px;
   margin: 5px;
   flex-direction: row;
   flex-wrap: wrap;
   flex-flow: column wrap;
}

.label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    margin-top: 5px;
}

.input {
    border-radius: 5%;
    border-color: gray;
    border-width: 5px;
}

.result {
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
    border-color: gray;
    border-width: 5px;
}

.big {
    font-size: 50px;
}

.button {
    margin-top: 5px;
    width: 130px;
    border-radius: 5%;
    border-color: gray;
    border-width: 5px;
    background-color: #FFFF11;
    font-weight: 800;
    cursor: pointer;
}